html {
    scroll-behavior: smooth;
  }

a{
    text-decoration: none;
    color: white;
}

body{
    color:white;
    font-family: 'Open Sans', sans-serif;
}

#imgCard2{
    height: 190px;
}

#message{
    height: 190px;
}
